/*Aula CSS - FlexBox e outros*/
body {
    margin: 0;
    font-family: sans-serif;

}
header, footer {
    background-color: rgb(9, 11, 15);
    color: rgb(247, 245, 245);
    text-align: center;
    padding: 1rem;
}

.card {
    background-color: rgb(243, 237, 237);
    padding: 1rem;
    border: 2px solid #ccc;
    margin: 10px;
    width: 100%;
}

/*.container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
*/

/*Grid Layout
.container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

}

.startcol{
    grid-column-start: 2;

}
*/

/*Responsivo - Mobile First e Media Query*/
.container{
    display: grid;
    grid-template-columns: 3fr;
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: repeat(2,1fr);
    }


}
@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3,1fr);
    }
}



